<header class="border-bottom text-center">
    <div>
        <h3 class="float-md-start mb-0">Av3 Estatistica</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            {% if relatorio %}
                <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="/index/">Inicio</a>
                <a class="nav-link fw-bold py-1 px-0 active" href="/relatorio/estatistico/">Relatorio Pesquisa</a>
            {% else %}
                <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/index/">Inicio</a>
                <a class="nav-link fw-bold py-1 px-0" href="/relatorio/estatistico/">Relatorio Pesquisa</a>
            {% endif %}

        </nav>
    </div>
</header>