{% extends "base/base.html" %}
{% block body %}
{#    <div class="mt-4 p-5 mb-4 bg-body-tertiary rounded-3 px-3">#}
        {% if sucesso %}
           <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ sucesso }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
        {% endif %}

        {% if error %}
           <div class="alert alert-danger  alert-dismissible fade show" role="alert">
              {{ error }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
        {% endif %}
        <div class="p-3 justify-content-center w-100 " id="text-sistema">
            <h4 class="text-center pb-3">Contribua para a Preservação da Vida na Água</h4>

            <p >
                Os oceanos e mares desempenham um papel essencial na saúde do planeta e na nossa qualidade de vida. A ODS 14, que tem como foco a conservação e o uso sustentável desses recursos, destaca a necessidade urgente de combater a poluição, proteger ecossistemas marinhos, promover a pesca sustentável e mitigar os efeitos das mudanças climáticas.

                Sua participação é fundamental! Queremos entender melhor como as pessoas percebem e se relacionam com esses temas para, juntos, encontrarmos soluções mais eficazes. Responda ao nosso questionário e contribua para a preservação da vida na água.
            </p>

            <button class="btn btn-primary btn-md " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Responder Pesquisa</button>

            {% include 'questionario/offcanvas.html' %}
        </div>
{#    </div>#}
{% endblock %}